# the project name
export PROJECT_NAME="ghostwriter-example"

# the servers (with user) to deploy development and porduction to
export PRODUCTION_TARGET="captain@v22016043518733510.netcup.production.process.hosting"
export DEVELOPMENT_TARGET="captain@v22016043518733511.netcup.development.process.hosting"

# the production domain the application will be accessible by
export PRODUCTION_DOMAIN="ghostwriter-example.process.space"

# same thing for the development branches
export DEVELOPMENT_DOMAIN="ghostwriter-example.process.express"

# export the scaling of the infrastructure
export PRODUCTION_SCALE="application=1 ghostwriter=1 database=1"
export DEVELOPMENT_SCALE="application=1 ghostwriter=1 database=1"

# the base data_dir on the server
export DATA_DIR="/pool/data"
